@import 'global';
@import 'page-content-block';

.container{
  max-width: 700px;
  .content-block{
    padding: 20px;
    text-align: center;
  }
}

.field-container{
  padding: 15px;
  display: block;
}

#password{
  margin-bottom: 10px;
}
