$width: 1000px;

:host{
  display: block;
  width: $width;
}

@media only screen and (max-width: $width + 20px) {
  :host{
    width: 90vw;
  }
}


.container {
  background-color: white;
  text-align: left;
  padding: 20px;
  mat-radio-button{
    font-size: 0.8em;
  }
  mat-form-field {
    display: block;
    margin-bottom: 4px;
    ::ng-deep .mat-form-field-infix{
      font-size: 1em;
    }
    input{
      margin-top: 20px;
    }
  }
}

.group{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  .g1{
    flex-grow: 1;
    padding-right: 10px;
    padding-top: 10px;
  }
  .g2{
    flex-grow: 1;
    padding-left: 10px;
    padding-top: 10px;
  }
}

.field-title{
  font-weight: 500;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.type-title{
  margin-bottom: 21px;
  margin-top: 17px;
  display: block;
}

#name-form-field{
  width: 90%;
  margin: 0 auto;
}

#auction-checkbox, #buynow-checkbox{
  display: block;
}

#buy-now-field{
  width: 100px;
}

.date-group{
  display: flex;
  justify-content: space-between;
  .date{
    width: 70%;
  }
  .time{
    width: 20%;
    position: relative;
    bottom: 2px;
    left: 0;
  }
}
