@import 'global';


.container{
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  #section{
    @include section-shadow;
    background-color: white;
    padding: 20px;
  }
  .msg{
    font-weight: bold;
    color: #f72f2f;
  }
}
