@import 'global';



.container {
  background-color: white;
  text-align: left;
  font-size: 14px;
  mat-radio-button{
    font-size: 14px;
  }
  mat-form-field {
    display: block;
    margin-bottom: 4px;
    ::ng-deep .mat-form-field-infix{
      font-size: 14px;
    }
    input{
      margin-top: 20px;
    }
  }
  .form-grid {
    display: flex;
    flex-flow: row;
    width: 100%;
    .g1{
      flex-grow: 0;
      flex-basis: 33%;
    }
    .g2 {
      flex-grow: 0;
      flex-basis: 66%;
      padding-left: 40px;
      display: flex;
      flex-direction: column;
      textarea{
        margin-top: 10px;
        min-height: 10em;
      }
      .ok-container{
        flex-grow: 1;
        text-align: center;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: column;
        button{
          margin-right: 20px;
        }
      }
    }
  }
}

mat-radio-button{
  display: block;
  margin: 10px;
}



.tags-container{
  min-height: 50px;
  .tag-div{
    font-size: 12px;
    display: inline-block;
    margin: 5px 10px 5px 0;
    padding: 4px;
    background-color: aquamarine;
  }
}
