<div class="container">
  <div class="content-block">
    <div class="content-block-title">
      <h2>Reset password</h2>
      <p>Please type your new password</p>
    </div>
    <form id="reset-password-form" [formGroup]="form" (ngSubmit)="onFormSubmit()">

      <div class="field-container">
        <mat-form-field id="password">
          <input matInput type="password" placeholder="Password" formControlName="password" required />
          <mat-error>
            <ng-container *ngIf="form.controls.password.errors">
              <span *ngIf="form.controls.password.errors.required">Password cannot be empty</span>
              <span *ngIf="form.controls.password.errors.minlength">Too short password</span>
            </ng-container>
          </mat-error>
          <app-password-meter [password]="form.value.password" (strengthChange)="strongPassword = $event === 'weak'">
          </app-password-meter>
        </mat-form-field>
      </div>

      <div class="field-container">
        <mat-form-field id="confirm-password">
          <input matInput (keyup)="onConfirmType()" type="password" placeholder="Confirm password"
            formControlName="confirmPassword" required />
          <mat-error>
            <ng-container *ngIf="form.controls.confirmPassword.errors">
              <span *ngIf="form.controls.confirmPassword.errors.required">Password cannot be empty</span>
              <span *ngIf="form.controls.confirmPassword.errors.match">Passwords aren't the same!</span>
            </ng-container>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="field-container">
        <button mat-raised-button color="primary" type="submit">Reset password</button>
      </div>
    </form>

  </div>
</div>
