<div class="container">
  <div class="content-block">
    <div class="filters-container">
      <app-auction-filters [filterCategories]="filterCategories" [selectedCategoryValue]="selectedFilterCategoryValue"
        (applyFilters)="applyFilters($event)">
      </app-auction-filters>
    </div>
    <div class="auctions-container">
      <div style="position: relative;">
        <div class="goto-div">
          <span>Go to</span>
          <mat-form-field class="goto-field">
            <input (keyup.enter)="onGotoClick($event)" matInput type="number" [min]="1" formControlName="name" />
          </mat-form-field>
        </div>
        <mat-paginator [length]="total" [pageSize]="10" [pageIndex]="currentPage" (page)="onPageChange($event)">
        </mat-paginator>
      </div>

      <app-auction-list-item *ngFor="let auction of auctions" [auction]="auction"></app-auction-list-item>
      <mat-paginator *ngIf="auctions && auctions.length > 1" [length]="total" [pageSize]="10" [pageIndex]="currentPage" (page)="onPageChange($event)">
      </mat-paginator>
    </div>
  </div>
</div>
