@import 'global';
@import 'page-content-block';

.content-block{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: transparent !important;
  box-shadow: unset !important;
  .auctions-container{
    width: calc(100% - 20px - 300px);
    background-color: white;
    display: inline-block;
    margin: 0 10px 0 10px;
  }
  .filters-container{
    display: inline-block;
    background-color: white;
    max-width: 300px;
    height: auto;
    margin: 0 10px 0 10px;
    flex-shrink: 0;
  }
  @media only screen and (min-width: 961px) {
    .filters-container{
      @include section-shadow;
    }
    .auctions-container{
      @include section-shadow;
    }
  }
  @media only screen and (max-width: 960px) {
    .auctions-container{
      width: 100%;
      margin: 0;
    }
    .filters-container{
      width: 100%;
      max-width: 100%;
      margin: 0 0 20px;
    }
  }
}


@media only screen and (max-width: 960px) {
  .container{
    flex-wrap: wrap;
  }
}


@media screen and(max-width: 1255px){
  .filters-container{
    max-width: 200px;
  }
}





