<div class="container">
  <div class="content-block">
    <div class="filters-container">
      <app-auction-filters [filterCategories]="filterCategories" [selectedCategoryValue]="selectedFilterCategoryValue"
        (applyFilters)="applyFilters($event)">
      </app-auction-filters>
    </div>
    <div class="auctions-container">
      <app-goto-paginator [length]="total" [page]="currentPage" (pageChange)="onPageChange($event)"></app-goto-paginator>

      <app-auction-list-item *ngFor="let auction of auctions" [auction]="auction"></app-auction-list-item>
      <mat-paginator *ngIf="auctions && auctions.length > 1" [length]="total" [pageSize]="10" [pageIndex]="currentPage" (page)="onPageChange($event)">
      </mat-paginator>
    </div>
  </div>
</div>
