
backend/Gen/
backend/src/.vs/
backend/src/bin/
backend/src/*/obj/
backend/src/*/bin/
backend/src/obj/
backend/tools/
backend/src/AuthDataDatabase/AuthDataDatabase.dbmdl

backend/src/Test.AuctionhouseDatabase/Import Schema Logs/

backend/src/AuctionhouseDatabase/AuctionhouseDatabase.dbmdl

backend/src/Test.AuctionhouseDatabase/Test.AuctionhouseDatabase.dbmdl

backend/scripts/mongodb/node_modules/*
/backend/src/Tests/FunctionalTestsServer_log.ldf
/backend/src/Tests/FunctionalTestsServer.mdf
backend/src/AuctionhouseDatabase/AuctionhouseDatabase.jfm
/backend/src/Auctionhouse.Command/errorEventOutboxDb
/backend/src/Auctionhouse.Query/errorEventOutboxDb
/backend/src/Test.Integration.MediatrCommandHandling
/backend/src/Test.Integration.CommandHandling.RabbitMQ
/backend/src/SetupTestDb
