
backend/Gen/
backend/src/.vs/
backend/src/bin/
backend/src/*/obj/
backend/src/*/bin/
backend/src/obj/
backend/tools/
backend/src/AuthDataDatabase/AuthDataDatabase.dbmdl

backend/src/Test.AuctionhouseDatabase/Import Schema Logs/

backend/src/AuctionhouseDatabase/AuctionhouseDatabase.dbmdl

backend/src/Test.AuctionhouseDatabase/Test.AuctionhouseDatabase.dbmdl
