@import "global-vars";
@import 'breakpoints';

.mat-expansion-panel {
  border-radius: 0;
  box-shadow: none;
}

.container {
  box-sizing: border-box;
  padding: 5px 0px 12px 0px;
  .cat-title {
    font-size: 2em;
    a {
      text-decoration: none;
      color: black;
    }
  }
  mat-radio-group {
    display: block;
    mat-radio-button {
      display: block;
      margin-bottom: 7px;
    }
  }
  .apply-btn-container {
    text-align: center;
    width: 100%;
  }
}

.buynow-price-container {
  .buynow-price {
    float: left;
    padding-right: 20px;
    box-sizing: border-box;
  }
}

.subcat-link {
  text-decoration: none;
  color: $secondaryColor;
  cursor: pointer;
  display: block;
  &:hover {
    color: $secondaryDarkColor;
  }
  padding: 0 0 12px 0;
}

.highlight {
  color: $highlightColor;
  cursor: pointer;
  &:hover {
    color: $highlightColor;
  }
}

.group-name{
  font-size: 1em;
}

@include mobile {
  .container {
    font-size: 0.9em;
  }
  .buynow-price-container {
    mat-form-field {
      width: 50%;
    }
  }
  .apply-btn-container {
    button {
      height: 32px;
      font-size: .9em;
    }
  }
}

@media screen and(max-width: 605px) {
  .container {
    font-size: .8em;
  }
  .cat-title {
    font-size: 1.15em;
  }
}
