@import "global";

.mat-expansion-panel{
  border-radius: 0;
  box-shadow: none;
}

.container {
  box-sizing: border-box;
  padding: 5px 0px 12px 0px;
  font-size: 14px;
  .cat-title{
    a{
      text-decoration: none;
      color: black;
    }
  }
  mat-radio-group {
    display: block;
    mat-radio-button {
      display: block;
      margin-bottom: 7px;
    }
  }
  .apply-btn-container {
    text-align: center;
    width: 100%;
  }
}

.buynow-price-container{
  .buynow-price{
    float: left;
    padding-right: 20px;
    box-sizing: border-box;
  }
}

.subcat-link {
  text-decoration: none;
  color: $secondaryColor;
  cursor: pointer;
  display: block;
  &:hover {
    color: $secondaryDarkColor;
  }
  padding: 0 0 12px 0;
}

.highlight {
  color: $highlightColor;
  cursor: pointer;
  &:hover {
    color: $highlightColor;
  }
}
