<mat-expansion-panel #panel [hideToggle]="!mobile" [disabled]="!mobile" [expanded]="!mobile">
  <mat-expansion-panel-header [style.display]="panel.hideToggle ? 'none' : 'flex'">
    Filters
  </mat-expansion-panel-header>
  <div class="container">
    <div *ngIf="filterCategories">
      <h1 class="cat-title"><a
          [routerLink]="filterCategories.link">{{filterCategories.value}}</a></h1>
      <div *ngFor="let subcategory2 of filterCategories.children">
        <a [class]="'subcat-link ' + (subcategory2.value === selectedCategoryValue ? 'highlight' : '')"
          [routerLink]="subcategory2.link" [queryParams]="subcategory2.queryParams">{{subcategory2.value}}</a>
      </div>
    </div>
    <div>
      <form [formGroup]="form" (ngSubmit)="applyClick()">
        <h4 class="group-name">Condition
        </h4>
        <mat-radio-group formControlName="condition">
          <mat-radio-button value="0">Used</mat-radio-button>
          <mat-radio-button value="1">New</mat-radio-button>
          <mat-radio-button value="2">All</mat-radio-button>
        </mat-radio-group>
        <h4 class="group-name">Auction type
        </h4>
        <mat-radio-group formControlName="type" [(ngModel)]="selectedAuctionType">
          <mat-radio-button value="0">Buy now only</mat-radio-button>
          <mat-radio-button value="1">Auction</mat-radio-button>
          <mat-radio-button value="2">Auction and buy now</mat-radio-button>
          <mat-radio-button value="3">All</mat-radio-button>
        </mat-radio-group>
        <div class="buynow-price-container" [hidden]="selectedAuctionType === '1'">
          <h4 class="group-name">Buy now auction price</h4>
          <mat-form-field id="min-buynow" class="buynow-price">
            <input matInput type="text" placeholder="Min" formControlName="minBuyNow" />
          </mat-form-field>
          <mat-form-field id="max-buynow" class="buynow-price">
            <input matInput type="text" placeholder="Max" formControlName="maxBuyNow" />
          </mat-form-field>
          <div style="clear: both;"></div>
        </div>
        <div class="buynow-price-container" [hidden]="selectedAuctionType === '0'">
            <h4 class="group-name">Auction price</h4>
            <mat-form-field id="min-buynow" class="buynow-price">
              <input matInput type="text" placeholder="Min" formControlName="minAuction" />
            </mat-form-field>
            <mat-form-field id="max-buynow" class="buynow-price">
              <input matInput type="text" placeholder="Max" formControlName="maxAuction" />
            </mat-form-field>
            <div style="clear: both;"></div>
          </div>
        <div class="apply-btn-container">
          <button mat-raised-button color="primary" type="submit">Apply filters</button>
        </div>
      </form>
    </div>

  </div>
</mat-expansion-panel>
