@import "global";
@import 'page-content-block';


.container {
  width: 90%;
  text-align: center;
  * {
    width: 100%;
  }
  mat-form-field {
    display: block;
  }
  .content-block{
    padding-bottom: 15px;
  }
}

.navig-btn-container {
  position: absolute;
  width: 90%;
  display: flex;
  justify-content: space-between;
  .nav-btn {
    @include app-btn;
    height: 20px;
  }
  .back {
    margin: 10px 0 0 10px;
    background-color: #8c8c8c;
  }
  .forward {
    margin: 10px 10px 0 0;
  }
}
.create-container {
  width: 100%;
  text-align: center;
  padding-top: 15px;
  .err-msg {
    color: red;
  }
  .cancel-btn {
    @include app-btn;
    margin-right: 30px;
    background-color: #f44336;
    height: 32px;
  }
  .create-btn {
    @include app-btn;
    height: 32px;
  }
}

.msg {
  font-size: 16px;
  font-weight: bold;
  color: #5c5c5c;
  width: 90%;
  margin: 0 auto;
  background-color: white;
  * {
    margin: 0;
  }
  .text {
    display: block;
    padding: 10px;
  }
  hr {
    @include app-hr;
    width: 90%;
    margin: 0 auto;
  }
}


