<div class="container" [hidden]="!showCreateForm">
  <div class="content-block">
    <div class="msg">
      <div class="navig-btn-container">
        <button class="nav-btn back" (click)="onBackClick()" [appVisible]="step === 0">Back</button>
      </div>
      <div class="text">{{stepComponents[step].titleMsg}}</div>
      <hr>
    </div>
    <div class="container">
      <app-category-select-step #categoryStep (outputOnStepComplete)="onCategorySelectedStep($event)"
        [hidden]="categoryStep !== stepComponents[step]"></app-category-select-step>
      <app-auction-data-step #auctionDataStep (outputOnStepComplete)="onAuctionDataStep($event)"
        [hidden]="auctionDataStep !== stepComponents[step]"></app-auction-data-step>
      <app-product-step #productStep (outputOnStepComplete)="onProductStep($event)"
        [hidden]="productStep !== stepComponents[step]"></app-product-step>
      <app-add-image-step #imageStep (imgSelected)="onImgSelect($event)" (imgCanceled)="onImgCancel($event)"
        (outputOnStepComplete)="onImagesStep($event)" [hidden]="imageStep !== stepComponents[step]">
      </app-add-image-step>
      <app-create-summary-step #summaryStep [commandArgs]="createAuctionArgs" (outputOnStepComplete)="onSummaryStep()"
        [hidden]="summaryStep !== stepComponents[step]"></app-create-summary-step>
    </div>
    <div class="create-container">
      <button class="cancel-btn" (click)="location.back()">Cancel</button>
      <button class="create-btn" (click)="onOkClick()" *ngIf="stepComponents[step].ready">
        {{step != stepComponents.length - 1 ? 'Continue':'Create auction'}}
      </button>
      <p class="err-msg">{{error}}</p>
    </div>
  </div>
</div>
