<div class="auction-list-item-container">
  <div class="left">
    <img *ngIf="auctionImgSrc" [src]="auctionImgSrc"/>
  </div>
  <div class="right" (click)="onAuctionListItemClick()">
    <div class="right-content">
        <div>
            <h2>{{auction.productName}}</h2>
          </div>
          <div class="price-div">
            <div class="current-price-div">
              <span>Current price</span>
              <br>
              <span class="currentprice"> {{auction.actualPrice | currency}}</span>
            </div>
            <div class="buynowprice-div">
              <span class="buynowtext">Buy now price</span>
              <br>
              <span class="buynowprice"> {{auction.buyNowPrice | currency}}</span>
            </div>
          </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
