@import "global";

$listItemHeight: 200px;

.bottom-line {
  @include app-hr;
  width: 90%;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 14px;
  box-sizing: border-box;
  font-size: 16px;
  .left {
    min-width: 210px;
    height: $listItemHeight;
    box-sizing: border-box;
    padding: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right {
    width: calc(100% - 210px);
    height: $listItemHeight;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .right-content {
      padding-left: 10px;
    }
  }
  &:hover {
    background-color: bisque;
  }
}

.auction-img {
  max-width: 200px;
  max-height: 200px;
}

.title-div {
  .auction-title {
    margin-bottom: 4px;
  }
  .condition-text {
    display: block;
    margin-top: 8px;
    font-size: 0.7em;
  }
  margin-bottom: 7px;
}

.current-price-div {
  .current-price-title {
    margin-bottom: 5px;
  }
  .currentprice {
    display: block;
    margin-top: 4px;
    font-weight: bold;
    font-size: 1.2em;
  }
}

.totalbids-div {
  width: 50%;
  float: left;
  text-align: right;
  margin-top: 40px;
  font-size: 0.7em;
  span {
    padding-right: 10%;
  }
}

.buynowprice-div {
  width: 50%;
  float: left;
  margin-top: 10px;
  .buynowtext {
    font-size: 0.7em;
  }
  .buynowprice {
    font-size: 0.8em;
    font-weight: bold;
  }
}

@media screen and(max-width: 1255px) {
  .container {
    font-size: 15px;
  }
}

@media screen and(max-width: 1050px) {
  .container {
    font-size: 14px;
  }
}

@media screen and(max-width: 700px) {
  .container {
    font-size: 13.5px;
  }
  .title-div {
    .auction-title {
      font-size: 1.1em;
    }
  }
  .auction-img {
    max-width: 150px;
    max-height: 150px;
  }
  .container {
    .left {
      min-width: 150px;
      .auction-img {
        max-width: 150px;
        max-height: 150px;
      }
    }
    .right {
      width: calc(100% - 150px);
    }
  }
}

@media screen and(max-width: 490px) {
  .auction-list-item-container {
    flex-direction: column;
    .left {
      flex-basis: 100%;
      min-width: 100%;
    }
    .right {
      flex-basis: 100%;
      width: 100%;
    }
  }
  .totalbids-div {
    clear: both;
    margin-top: 15px;
    width: 100%;
    text-align: left;
  }
}
