@import "global";

$listItemHeight: 200px;

.bottom-line {
  @include app-hr;
  width: 90%;
}

.container {
  width: 100%;
  padding: 0 0 0 14px;
  box-sizing: border-box;
  font-size: 16px;
  .left {
    height: $listItemHeight;
    width: 200px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
  }
  .right {
    width: calc(100% - 210px);
    height: $listItemHeight;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    .right-content {
      padding-left: 10px;
    }
  }
  &:hover {
    background-color: bisque;
  }
}

.auction-img {
  max-width: 100%;
  max-height: 100%;
}

.title-div {
  .auction-title {
    margin-bottom: 4px;
    font-size: 1.5em;
  }
  .condition-text {
    display: block;
    margin-top: 8px;
    font-size: 0.7em;
  }
  margin-bottom: 7px;
}

.current-price-div {
  .current-price-title {
    margin-bottom: 5px;
  }
  .currentprice {
    display: block;
    margin-top: 4px;
    font-weight: bold;
    font-size: 1.2em;
  }
}

.totalbids-div {
  width: 50%;
  float: left;
  text-align: right;
  margin-top: 40px;
  font-size: 0.7em;
  span {
    padding-right: 10%;
  }
}

.buynowprice-div {
  width: 50%;
  float: left;
  margin-top: 10px;
  .buynowtext {
    font-size: 0.7em;
  }
  .buynowprice {
    font-size: 0.8em;
    font-weight: bold;
  }
}

@media screen and(max-width: 1255px) {
  .container {
    font-size: 15px;
  }
}

@media screen and(max-width: 1050px) {
  .container {
    font-size: 14px;
  }
}

@media screen and(max-width: 700px) {
  .title-div {
    .auction-title {
      font-size: 1.1em;
    }
  }
  .container {
    font-size: 13.5px;
    .left {
      width: 150px;
    }
    .right {
      width: calc(100% - 160px);
    }
  }
}

@media screen and(max-width: 490px) {
  .container {
    .left {
      width: 140px;
    }
    .right {
      width: calc(100% - 150px);
    }
  }
  .totalbids-div {
    clear: both;
    margin-top: 15px;
    width: 100%;
    text-align: left;
  }
  .title-div {
    .auction-title {
      font-size: 1em;
    }
  }
}

@media screen and(max-width: 390px) {
  .container {
    .left {
      width: 140px;
      margin: 0 auto;
      float: none;
    }
    .right {
      width: 100%;
    }
  }
  .title-div {
    .auction-title {
      font-size: 1.3em;
    }
  }
}
