<div>
  <div class="container">
    <div class="left">
      <img class="auction-img" *ngIf="auctionImgSrc" [src]="auctionImgSrc" />
    </div>
    <div class="right" (click)="onAuctionListItemClick()">
      <div class="right-content">
        <div class="title-div">
          <h2 class="auction-title">{{auction.name}}</h2>
          <span class="condition-text">Condition: {{auction.condition == 0 ? 'Used' : 'New'}}</span>
        </div>
        <div class="price-div">
          <div class="current-price-div" *ngIf="!auction.buyNowOnly">
            <span class="current-price-title">Current price</span>
            <br>
            <span class="currentprice"> {{auction.actualPrice}}</span>
          </div>
          <div class="current-price-div" *ngIf="auction.buyNowOnly">
            <span class="current-price-title buynow">Buy now price</span>
            <br>
            <span class="currentprice"> {{auction.buyNowPrice}}</span>
          </div>

          <div class="buynowprice-div" *ngIf="!auction.buyNowOnly" [appVisible]="auction.buyNowPrice == null">
            <span class="buynowtext">Buy now price</span>
            <br>
            <span class="buynowprice"> {{auction.buyNowPrice}}</span>
          </div>
          <div class="totalbids-div" [appVisible]="auction.buyNowOnly">
            <span>Total bids: {{auction.totalBids}}</span>
          </div>
        </div>
      </div>

    </div>
    <div style="clear: both;"></div>
  </div>
  <hr class="bottom-line">
</div>
