@import 'global-vars';


@mixin app-hr {
  background: #ddd;
  display: block;
  height: 1px;
  border: 0;
}

@mixin section-shadow {
  -webkit-box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -2px rgb(0 0 0 / 10%);
  -moz-box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -2px rgb(0 0 0 / 10%);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

@mixin app-btn{
  border-radius: 0 2px 2px 0;
  color: white;
  background-color: $secondaryColor;
  display: inline-block;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1em;
  font-family: Open Sans, sans-serif;
  cursor: pointer;
  text-align: center;
  border: 0;
  border-radius: 3px;
  &:hover{
    background-color: $secondaryDarkColor;
  }
  &[disabled]{
    background-color: #cecece;
    color: grey;
    cursor: initial;
    &:hover{
      background-color: #cecece;
      color: grey;
    }
  }
}

[hidden]{
  display: none !important;
}

