$primaryColor: #ffffff;
$secondaryColor: #ff5a00;
$secondaryLightColor: bisque;
$secondaryDarkColor: #d85610;
$highlightColor: rgb(112, 190, 164);

$navbarHeight: 70px;
$footerHeight: 70px;

$maxContentWidth: 1600px;
