@import 'global';
@import 'page-content-block';

.container{
  width: 90%;
}

.tab-content{
  padding: 20px;
}


::ng-deep .mat-tab-body-content{
  overflow: hidden !important;
}

.save-btn{
  @include app-btn;
  height: 32px;
}
