@import "global";
@import 'breakpoints';

$searchInput_border: 2px;
$searchInput_padding: 7px;
$searchInput_height: 20px;

$searchInput_border_mobile: 2px;
$searchInput_padding_mobile: 7px;
$searchInput_height_mobile: 20px;
$barHeight_mobile: 32px;

$item_height: 48px;

$barHeight: 38px;

input {
  padding: $searchInput_padding;
  border: $searchInput_border solid #ddd;
  margin: 0;
  font-size: 15px;
  box-sizing: border-box;
  height: $barHeight;
  width: 100%;
}

.search-input-container {
  float: left;
  width: 80%;
  text-align: right;
  margin-right: 12px;
  margin-left: 12px;
  height: $navbarHeight;
  display: flex;
  align-items: center;
}

.search-btn-container {
  float: left;
  width: calc(20% - 24px);
  text-align: left;
  height: $navbarHeight;
  display: flex;
  align-items: center;
  #searchbtn {
    height: $barHeight;
    line-height: $barHeight;
    font-weight: bold;
    text-transform: uppercase;
    @include app-btn;
  }
}

.search-bar{
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 982px) {
  .search-bar{
    margin: 0;
    width: 100%;
  }
  .search-input-container {
    width: 70%;
  }
  .search-btn-container {
    width: calc(30% - 24px);
  }
}

@include mobile {
  input {
    padding: $searchInput_padding_mobile;
    border: $searchInput_border_mobile solid #ddd;
    height: $barHeight_mobile;
    font-size: 12px;
  }
  .search-bar{
    margin: 0;
    width: 100%;
    font-size: 12px;
  }
  .search-input-container{
    width: 80%;
    margin: 0;
  }
  .search-btn-container {
    width: 20%;
    #searchbtn{
      width: 100%;
      height: $barHeight_mobile;
      line-height: $barHeight_mobile;
    }
  }
  mat-option{
    font-size: 14px;
  }
  .search-type-title{
    font-size: 12px;
  }
}

@include small {
  .search-input-container {
    width: 100%;
    height: $barHeight_mobile;
    margin: 10px 0 0 0;
  }
  .search-btn-container {
    width: 100%;
    height: 70px;
    margin: 0 0 5px 0;
    #searchbtn{
      font-size: 14px;
      height: 40px;
      line-height: 40px;
      background-color: white;
      color: black;
      text-transform: capitalize;
      font-weight: normal;
      &:hover{
        color: white;
      }
    }
  }
  mat-option{
    font-size: 12px;
  }
  .search-type-title{
    font-size: 10px;
  }
}

.auction-link {
  height: $item_height;
  &:hover {
    background-color: $secondaryLightColor;
  }
}

.auction-img-container {
  display: inline-block;
  line-height: $item_height;
  vertical-align: middle;
  .auction-img {
    width: $item_height - 16px;
    height: $item_height - 16px;
    background-color: turquoise;
    display: block;
    margin-right: 10px;
  }
}

.loading-container {
  text-align: center;
  line-height: $item_height;
  vertical-align: middle;
}

#show-more-option {
  text-align: center;
  height: $item_height - 16px;
  font-size: 15px;
  &:hover {
    background-color: #b7b7b7;
    color: white;
  }
}

.search-type-title {
  padding-left: 10px;
  font-size: 14px;
}

::ng-deep .mat-autocomplete-panel {
  max-height: unset !important;
}
