@import "global";

$itemsCount: 4;

.navbar {
  width: 100%;
  height: $navbarHeight;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: $primaryColor;
  border-bottom: 1px solid #ddd;
  //position: fixed;
  //z-index: 1000;
  .navbar-item {
    text-align: center;
    color: black;
    height: $navbarHeight;
    line-height: $navbarHeight;
    vertical-align: middle;
    text-decoration: none;
    padding: 0 7px 0 7px;
    cursor: pointer;
    &:hover{
      background-color: $secondaryColor;
      transition: background-color 0.5s ease;
      color: white;
    }
    span {
      text-align: center;
      vertical-align: middle;
      text-decoration: none;
    }
  }
  .navbar-item-icon {
    text-align: center;
    margin-left: 4px;
    img {
      vertical-align: middle;
    }
    &:hover{
      background-color: $primaryColor;
    }
  }
  .navbar-group-left {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 40px;
  }

}

.searchbar-container {
  flex-grow: 2;
  line-height: $navbarHeight;
  vertical-align: middle;
  text-align: center;
}

.signin-btn {
  background-color: $primaryColor;
  color: black;
  font-weight: bold;
  display: block;
}

#sell-btn{
  font-weight: bold;
}

::ng-deep .user-menu {
  width: 200px;
  div {
    text-align: center;
    margin: 0 0 10px 0;
  }
  .user-menu-btn {
    @include app-btn;
    background-color: white;
    &:hover {
      background-color: rgb(201, 201, 201);
    }
    width: 90%;
    color: black;
  }
  #logout-btn {
    background-color: $secondaryColor;
    color: white;
  }
}




@media only screen and (min-width: 821px) {
  .navbar {
    .navbar-item {
      flex-grow: 0;
      min-width: 100px;
    }
  }
}

@media only screen and (max-width: 820px) {
  .navbar {
    .navbar-item {
      flex-basis: 100%;
    }
    .navbar-item-icon {
      text-align: center;
    }
    .searchbar-container {
      flex-basis: 100%;
    }
    .navbar-group-left {
      display: block;
      text-align: center;
      padding: 0;
    }
  }
  .container {
    height: $itemsCount * $navbarHeight;
  }
  ::ng-deep .user-menu {
    width: 100vw;
    max-width: unset !important;
  }
}
