@import "global";

$itemsCount: 4;

.navbar {
  width: 100%;
  height: $barHeight;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  background-color: $primaryColor;
  border-bottom: 1px solid #ddd;
  //position: fixed;
  z-index: 1000;
  .navbar-item {
    text-align: center;
    color: black;
    height: $barHeight;
    line-height: $barHeight;
    vertical-align: middle;
    text-decoration: none;
    padding: 0 7px 0 7px;
    cursor: pointer;
    &:hover {
      background-color: $secondaryColor;
      transition: background-color 0.5s ease;
      color: white;
    }
    span {
      text-align: center;
      vertical-align: middle;
      text-decoration: none;
    }
  }
  .navbar-item-icon {
    text-align: center;
    margin-left: 4px;
    img {
      vertical-align: middle;
    }
    &:hover {
      background-color: $primaryColor;
    }
  }
  .navbar-group-left {
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 40px;
  }
  .signin-btn {
    background-color: $primaryColor;
    color: black;
    font-weight: bold;
    &:hover {
      background-color: $secondaryColor;
    }
  }
}

#sell-btn{
  font-weight: bold;
}

::ng-deep .user-menu {
  width: 200px;
  div {
    text-align: center;
    margin: 0 0 10px 0;
  }
  .user-menu-btn {
    @include app-btn;
    background-color: white;
    &:hover {
      background-color: rgb(201, 201, 201);
    }
    width: 90%;
    color: black;
  }
  #logout-btn {
    background-color: $secondaryColor;
    color: white;
  }
}

$searchInput_border: 2px;
$searchInput_padding: 7px;
$searchInput_height: 20px;

.searchbar-container {
  flex-grow: 2;
  line-height: $barHeight;
  vertical-align: middle;
  text-align: center;
  input {
    width: 70%;
    padding: $searchInput_padding;
    border: $searchInput_border solid #ddd;
    margin: 0;
    height: $searchInput_height;
    font-size: 15px;
  }
  .search-button-container {
    width: 10%;
    display: inline-block;
    padding-left: 10px;
    box-sizing: border-box;
    text-align: left;

    button {
      height: 2 * $searchInput_border + 2 * $searchInput_padding +
        $searchInput_height;
      font-weight: bold;
      @include app-btn;
    }
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    .navbar-item {
      flex-grow: 0;
      min-width: 100px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .navbar {
    .navbar-item {
      flex-basis: 100%;
    }
    .navbar-item-icon {
      text-align: center;
    }
  }
  .container {
    height: $itemsCount * $barHeight !important;
  }
}
