@import 'global';
@import 'page-content-block';

.container{
  width: 90%;
  .content-block{
    display: flex;
    padding: 20px;
  }
}

.left{
  flex-grow: 2;
}
.right{
  flex-grow: 1;
}

#submit-btn{
  @include app-btn;
  height: 40px;
}

#offer-field{
  margin: 5px 0 5px 0;
}
