<div class="container" (click)="itemClick.emit(auction)"  *ngIf="auction">
  <div class="left">
    <ng-container *ngFor="let img of auction.auctionImages.slice(0,3)">
        <img class="img-preview" *ngIf="img" [src]="'/api/auctionImage?img=' + img.size3Id"/>
    </ng-container>
  </div>
  <div class="right">
    <p>{{auction.name}}</p>
    <p>Starts: {{auction.startDate | date : "yyyy MMMM dd"}}</p>
    <p>Ends: {{auction.endDate | date : "yyyy MMMM dd"}}</p>
  </div>
  <div class="right">
      <p>Categories: <br>- {{auction.category.name}}<br>-- {{auction.category.subCategory.name}}<br>--- {{auction.category.subCategory.subCategory.name}}</p>
  </div>
  <div style="clear: both;"></div>
</div>
