@import 'global';

.container{
  padding: 20px;
  cursor: pointer;
  .left{
    width: 30%;
    float: left;
  }
  .right{
    width: 35%;
    float: left;
    padding-left: 20px;
    box-sizing: border-box;
  }
  &:hover{
    background-color: $secondaryLightColor;
  }
}

.img-preview{
  width: 33%;
}

td{
  padding-top: 5px;
  padding-bottom: 5px;
}
