<div id="home-container">
  <app-categories></app-categories>
  <div class="dyn-promo">
    <div class="promo-container">
      <div class="promo-title-container">
        <h3 class="promo-title">Most viewed</h3>
        <hr>
      </div>
      <div class="promo">
        <app-auctions-carousel class="auctions-carousel" *ngIf="mostViewedAuctions" [auctions]="mostViewedAuctions" [rotateTime]="10000">
        </app-auctions-carousel>
      </div>
    </div>

    <div class="promo2">
      <app-ending-auctions></app-ending-auctions>
      <app-recently-viewed></app-recently-viewed>
    </div>


  </div>


</div>
