@import 'global';

#home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  home-categories {
    margin: 20px 0 20px 20px;
    display: block;
    height: 300px;
    min-width: 325px;
  }
  .offers-container {
    margin: 20px 20px 20px;
    flex-grow: 1;
    height: 300px;
    float: left;
    background-color: $primaryColor;
    display: block;
  }
}
