@import "global-vars";
@import "breakpoints";
@import 'promo-container';


#home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}

.dyn-promo {
  padding-left: 20px;
  width: calc(100% - 325px - 16px);
  display: flex;
  flex-direction: column;
}



.promo2 {
  display: flex;
  justify-content: flex-end;
}

app-recently-viewed{
  width: 50%;
}


@media only screen and (max-width: 1130px) {
  app-recently-viewed{
    width: 100%;
  }
}

@include mobile {
  app-recently-viewed{
    width: 100%;
  }
  #home-container {
    flex-wrap: wrap;
    .promo-container {
      flex-grow: 0;
      margin-left: 0;
    }
  }
  .dyn-promo {
    width: 100%;
    padding-left: 0;
  }
}

@include desktop-md {
  #home-container {
    .promo-container {
      height: auto;
    }
  }
}
