@import "global";

#home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
  home-categories {
    display: block;
    min-width: 325px;
  }
  .promo-container {
    background-color: $primaryColor;
    height: 370px;
    width: 100%;
    margin-left: 20px;
    #promo-title{
      padding-left: 25px;
    }
    .promo {
      flex-grow: 1;
      width: 100%;
      height: 300px;
      float: left;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: 0 10px 0 10px;
    }
  }
}

@media only screen and (max-width: 820px) {
  #home-container {
    flex-wrap: wrap;
    home-categories {
      min-width: 100%;
    }
    .promo-container {
      flex-grow: 0;
      margin-left: 0;
    }
  }
}
