@import 'global';

$width: 900px;

:host{
  display: block;
  width: $width;
}

@media only screen and (max-width: $width + 20px) {
  :host{
    width: 90vw;
  }
}

.cat-title{
  margin-bottom: 0;
  font-weight: 500;
}

mat-form-field{
  width: 70%;
  max-width: 700px;
  mat-select{
    margin-top: 20px;
  }
}
#container{
  text-align: center;
  padding-bottom: 10px;
}

