<div id="container">
  <div>
    <mat-form-field>
      <h4>Main category</h4>
      <mat-select (selectionChange)="selectMainCategory($event.value)" [value]="defaults ? defaults.name : ''">
        <mat-option selected></mat-option>
        <ng-container *ngFor="let cat of mainCategories; let i = index">
          <mat-option [id]="'main-cat-' + i" [value]="cat.categoryName">{{cat.categoryName}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
  <div [appVisible]="selectedMainCategory == null">
    <mat-form-field>
      <h4>Subcategory</h4>
      <mat-select (selectionChange)="selectSubCategory($event.value)" [value]="defaults ? defaults.subCategory.name : ''">
        <mat-option selected></mat-option>
        <ng-container *ngFor="let cat of subCategories; let i = index">
          <mat-option [id]="'sub-cat-' + i" [value]="cat.categoryName">{{cat.categoryName}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
  <div [appVisible]="selectedSubCategory == null">
    <mat-form-field>
      <h4>Second subcategory</h4>
      <mat-select (selectionChange)="selectSubCategory2($event.value)" [value]="defaults ? defaults.subCategory.subCategory.name : ''">
        <mat-option selected></mat-option>
        <ng-container *ngFor="let cat of subCategories2; let i = index">
          <mat-option [id]="'sub2-cat-' + i" [value]="cat.categoryName">{{cat.categoryName}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
</div>
