version: '3.4'

services:
  command:
    image: pekalam/auctionhousecommand
    build:
      context: .
      dockerfile: Auctionhouse.Command/Dockerfile
    environment:
        - OTEL_EXPORTER_ZIPKIN_ENDPOINT=http://zipkin:9411/api/v2/spans
    depends_on:
        - quartz_web_task_service
        - sql_server
        - rabbitmq
        - zipkin
        - seq
        - redis
        - mongodb
    command: "sql_server:32112 quartz_web_task_service:80 rabbitmq:5672 redis:6379 seq:5341 zipkin:9411 mongodb:27017"
    ports:
        - '7203:80'

  query:
    image: pekalam/auctionhousequery
    build:
      context: .
      dockerfile: Auctionhouse.Query/Dockerfile
    environment:
        - OTEL_EXPORTER_ZIPKIN_ENDPOINT=http://zipkin:9411/api/v2/spans
    depends_on:
        - quartz_web_task_service
        - sql_server
        - rabbitmq
        - zipkin
        - seq
        - redis
        - mongodb
    command: "sql_server:32112 quartz_web_task_service:80 rabbitmq:5672 redis:6379 seq:5341 zipkin:9411 mongodb:27017"
    ports:
        - '7070:80'

  commandstatus:
    image: pekalam/auctionhousecommandstatus
    build:
      context: .
      dockerfile: Auctionhouse.CommandStatusCheck/Dockerfile
    depends_on:
        - quartz_web_task_service
        - sql_server
        - rabbitmq
        - zipkin
        - seq
        - redis
        - mongodb
    command: "sql_server:32112 quartz_web_task_service:80 rabbitmq:5672 redis:6379 seq:5341 zipkin:9411 mongodb:27017"
    ports:
        - '7263:80'

## INFRASTRUCTURE
  envoy1:
    image: pekalam/auctionhouse-envoy1
    ports:
      - '10000:10000'
    build:
      context: ./Envoy

  mongodb:
    image: pekalam/auctionhouse-mongodb-standalone
    ports:
      - '27017:27017'
    build:
      context: ../src/MongoDb/standalone
      dockerfile: Dockerfile-mongo-standalone-replicaset

  quartz_web_task_service:
    image: marekbf3/quartz-web-task-service
    ports:
      - '5001:80'
    environment: 
      - "ClientKey=testk"
      - "ManagmentKey=testm"

  sql_server:
    image: pekalam/auctionhouse-sqlserver
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Qwerty1234
      - MSSQL_AGENT_ENABLED=True
    ports:
      - '1433:1433'

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - '5672:5672'
      - '15672:15672'

  zipkin:
    image: openzipkin/zipkin
    ports:
      - '9411:9411'

  seq:
    image: datalust/seq
    environment:
        - ACCEPT_EULA=y
    ports:
        - '8011:80'
        - '5341:5341'

  redis:
    image: redis
    ports:
      - '6379:6379'