@import 'global';
@import 'page-content-block';

.container{
  max-width: 700px;
  .content-block{
    padding: 20px;
  }
}

#sign-in-form{
  .field-container{
    padding: 15px;
    display: block;
    text-align: center;
  }
  #sign-in-button{
    cursor: pointer;
  }

}
.submit-button-container{
  display: block;
  text-align: center;
  #signup-button{
    margin-top: 30px;
  }
}

.forgot-password{
  font-size: 0.75em;
  cursor: pointer;
  &:visited {
    color: inherit;
  }
  &:hover, &:active{
    color: $highlightColor;
  }
}

.invalid-creds{
  color: red;
  font-size: .9em;
}

#password-field-container{
  margin-bottom: 15px;
}


