<div id="container">
  <div id="section">
    <form #signInForm="ngForm" id="sign-in-form" [formGroup]="form" (ngSubmit)="onSignIn()">
      <div class="field-container">
        <mat-form-field id="username-field">
          <input matInput type="text" placeholder="Username" formControlName="username" />
          <mat-error>
            <ng-container *ngIf="form.controls.username.errors">
              <span *ngIf="form.controls.username.errors.required">Username cannot be empty</span>
            </ng-container>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="field-container">
        <mat-form-field id="password">
          <input matInput type="password" placeholder="Password" formControlName="password" />
          <mat-error>
            <ng-container *ngIf="form.controls.password.errors">
              <span *ngIf="form.controls.password.errors.required">Password cannot be empty</span>
            </ng-container>
          </mat-error>
        </mat-form-field>
        <p class="invalid-creds" [appVisible]="validPassword">Invalid credentials</p>
      </div>
      <div class="submit-button-container">
        <button mat-raised-button color="primary" id="sign-in-button" type="submit">Sign in</button>
      </div>
    </form>
    <div class="submit-button-container">
      <span style="margin-right: 15px; font-size: 14px">Don't have an account?</span>
      <button mat-raised-button id="signup-button" [routerLink]="['/sign-up']">Sign up</button>
    </div>
  </div>
</div>
