@import 'global';
@import 'page-content-block';

.container{
  max-width: 700px;
  .content-block{
    padding: 20px;
  }
}

#sign-in-form{
  .field-container{
    padding: 15px;
    display: block;
    text-align: center;
  }
  #sign-in-button{
    cursor: pointer;
  }

}
.submit-button-container{
  display: block;
  text-align: center;
  #signup-button{
    margin-top: 30px;
  }
}


.invalid-creds{
  color: red;
  font-size: 14px;
}


