@import "global-vars";
@import 'breakpoints';


$containerHeight: 560px;

:host{
  display: block;
  min-width: 325px;
  @include mobile(){
    min-width: 100%;
  }
}
#categories-container *{
  box-sizing: border-box;
}

#categories-container {
  height: $containerHeight;
  max-width: 325px;
  background-color: white;
  @include mobile{
    max-width: 100%;
    height: auto;
  }
  #main-categories-container {
    height: $containerHeight;
    padding: 15px 9px 5px 9px;
    @include mobile{
      height: auto;
    }
  }
  #subcategories-container {
    overflow-y: auto;
    max-height: 80vh;
    position: relative;
    bottom: $containerHeight;
    left: 325px;
    width: calc(95vw - 325px - 10px);
    max-width: $maxContentWidth - 500px;
    z-index: 999;
    background-color: white;
    .subcategory-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 60%;
      @include mobile{
        width: 100%;
      }
    }
    .subcategory {
      flex: 1 50%;
      max-width: 50%;
      font-size: 0.80em;
      padding: 20px;
      .subcategories2-container {
        .subcategory2 {
          font-size: .86em;
          margin-bottom: 16px;
          text-align: left;
        }
      }
    }
  }
}

.subcategory-link {
  cursor: text;
  font-weight: 700;
  margin-bottom: 16px;
  display: block;
  text-align: left;
}

.subcategory2-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  &:hover {
    color: rgb(112, 190, 164);
  }
}

.main-category {
  line-height: 31px;
  div {
    width: 100%;
    padding: 5px 0 5px 0;
    cursor: pointer;
    a {
      display: block;
      width: 100%;
      text-decoration: none;
      color: black;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 0.85em;
      wor
      &:hover {
        color: $secondaryColor;
      }
    }
    hr {
      background: #ddd;
      display: block;
      height: 1px;
      border: 0;
    }
  }
}
