@import 'breakpoints';

:host{
  display: block;
  height: 270px;
  width: 100%;
}

.container *{
  outline: none;
}

.container{
  display: block;
  height: 100%;
  width: 100%;
  outline: none;
  cursor: pointer;

}

#auction-container{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .auction{
    box-sizing: border-box;
    padding-left: 30px;
    cursor: pointer;
    flex-grow: 1;
    flex-basis: 50%;
  }
  .carousel-container{
    height: 100%;
    min-width: 238px;
    flex-grow: 1;
    flex-basis: 50%;
    max-width: 420px;
    @include mobile{
      min-width: 0;
    }
  }
}

@media only screen and (min-width: 934px){

}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.next-btn-container{
  display: flex;
  justify-content: space-between;
  clear: both;
  height: 0;
}

.next-btn{
  position: relative;
  width: 50px;
  height: 270px;
  top: -270px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 990;
  visibility: visible;
  display: inline-flex;
  cursor: pointer;
  &:hover{
    background-color: #eceff138;
  }
}

.progress-container{
  text-align: center;
  .progress{
    width: 70%;
    display: inline-flex;
    .progress-element{
      float: left;
      height: 6px;
      background-color: #e6e6e6;
      flex-grow: 1;
    }
    .progress-element-active{
      background-color: #8f8ffd;
    }
  }
}

.auction-title{
  font-size: 1.2em;
  font-weight: bold;
}

.current-price{
  font-weight: bold;
  font-size: 1em;
}

.views{
  font-size: 0.8em;
}
