.password-meter {
  width: 8px;
  height: 40px;
  margin-left: 35px;
  background-color: #f1f1f1;
  display: inline-flex;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  align-items: flex-end;
  div {
    width: 100%;
  }
  .weak {
    background-color: red;
    height: 33%;
  }
  .medium {
    background-color: orange;
    height: 66%;
  }
  .strong {
    background-color: green;
    height: 100%;
  }
}
