<div class="auction-container" *ngIf="auction">
  <div class="left">
    <app-carousel [sources]="imgs" [img-height]="200" [showThumbnails]="true" [thumbnails]="thumbnails" fullscreen="true"></app-carousel>
  </div>
  <div class="right">
    <div class="right-content">
      <h3 *ngIf="auction.archived">(Archived)</h3>
      <h3>{{auction.name}}</h3>
      <div><span class="prop-title">From:</span> {{auction.creator.userName}}</div>
      <p *ngIf="showTimer" class="timer">TIME LEFT: {{timer.m}}:{{timer.s}}</p>
      <hr>
      <div class="info-container">
        <span id="start"><span class="prop-title">Starts:</span>
          {{auction.startDate | date : "yyyy MMMM dd"}}</span>
        <span id="end"><span class="prop-title">Ends:</span>
          {{auction.endDate | date : "yyyy MMMM dd"}}</span>
        <span id="days-left" *ngIf="!showTimer"><span class="prop-title">Days left:</span>
          {{daysLeft}}</span>
      </div>
      <hr>

      <div class="info-container">
        <span>
          <span class="prop-title">Current price:</span>
          <b> {{auction.actualPrice | currency}}</b>
        </span>
        <span>
          <span class="prop-title">Buy now price:</span>
          <b> {{auction.buyNowPrice | currency}}</b>
        </span>
      </div>
      <hr>

      <div class="bid-info-container" *ngIf="!auction.archived">
        <span *ngIf="auction.winningBid"><span class="winner">Winner:</span>
          <b>{{auction.winningBid.userIdentity.userName}}</b></span>
        <span class="nobids" *ngIf="!auction.winningBid">Nobody is taking part in auction</span>
      </div>
      <div class="info-container">
        <span><span class="prop-title">Views:</span> {{auction.views}}</span>
      </div>
      <div class="buttons-container" *ngIf="showAuctionButtons && !readOnly">
        <button class="buynow-btn" (click)="onBuyNow()"
          [disabled]="auction.buyNowPrice == 0.0">Buy now</button>
        <button class="bid-btn" (click)="onBid()" [disabled]="auction.buyNowOnly">Bid</button>
      </div>

    </div>
  </div>
  <div class="params-container">
    <div class="params-block">
      <h2>Information</h2>
      <div class="product-info">
        <p><b>Product name:</b>&nbsp;&nbsp;<span>{{auction.product.name}}</span></p>
        <p><b>Condition:</b>&nbsp;&nbsp;<span>{{auction.product.condition == 0 ? 'Used' : 'New'}}</span></p>
        <p><b>Tags:</b>&nbsp;&nbsp;</p>
        <div class="tags-container">
          <div class="tag-div" *ngFor="let tag of auction.tags">
            <div>
              <i class="fas fa-tag" style="margin-right: 3px;"></i>{{tag}}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="params-container">
    <div class="params-block">
      <h2>Description</h2>

      <p class="description-text">{{auction.product.description}}</p>
    </div>
  </div>
</div>
