<div class="auction-container" *ngIf="auction">
  <div class="left">
      <app-carousel [sources]="imgs" [img-height]="200"></app-carousel>
  </div>
  <div class="right">
    <div class="right-content">
      <h3>{{auction.product.name}}</h3>
      <span><span class="prop-title">From:</span> {{auction.creator.userName}}</span>
      <p *ngIf="showTimer" class="timer">TIME LEFT: {{timer.m}}:{{timer.s}}</p>
      <hr>
      <div class="date-container">
        <span class="date" id="start"><span class="prop-title">Starts:</span> {{auction.startDate | date : "yyyy MMMM dd"}}</span>
        <span class="date" id="end"><span class="prop-title">Ends:</span> {{auction.endDate | date : "yyyy MMMM dd"}}</span>
        <span class="date" id="days-left" *ngIf="!showTimer"><span class="prop-title">Days left:</span> {{daysLeft}}</span>

      </div>
      <hr>

      <div class="current-price-container">
        <span class="prop-title">Current price:</span>
        <span class="price"> {{auction.actualPrice | currency}}</span>
      </div>
      <div class="buynow-price-container">
        <span class="prop-title">Buy now price:</span>
        <span class="price"> {{auction.buyNowPrice | currency}}</span>
      </div>
      <hr>
      <div class="bid-info-container">
        <span class="winner" *ngIf="auction.winningBid"><span style="color: #b5b55e">Winner:</span>
          {{auction.winningBid.userIdentity.userName}}</span>
        <span class="nobids" *ngIf="!auction.winningBid">Nobody is taking part in auction</span>
      </div>
      <div class="views-container">
        <span><span class="prop-title">Views:</span> {{auction.views}}</span>
      </div>
      <div class="buttons-container" *ngIf="showAuctionButtons">
        <button class="buynow-btn" (click)="onBuyNow()" [disabled]="!showAuctionButtons || auction.buyNowPrice == null">Buy now</button>
        <button class="bid-btn" (click)="onBid()" [disabled]="!showAuctionButtons">Bid</button>
      </div>

    </div>
  </div>
  <div class="description-container">
    <div class="description-content">
      <h2>Description</h2>

      <p class="description-text">{{auction.product.description}}</p>
    </div>
  </div>
</div>
