@import "global";

.auction-container {
  max-width: 1400px;
  background-color: $primaryColor;
  margin: 50px auto;
  padding: 20px;
  box-sizing: border-box;
  @include section-shadow;
  .left {
    width: 45%;
    height: 400px;
    float: left;
  }
  .right {
    float: left;
    width: 55%;
    height: 100%;
  }
  @media screen and (max-width: 820px) {
    .left, .right{
      float: none;
      width: 100%;
    }
  }
  .description-container {
    clear: both;
    padding-top: 20px;
    .description-content {
      background-color: #f7f7f7;
      padding: 5px 10px 5px 10px;
      .description-text{
        padding-left: 20px;
        text-align: justify;
      }
    }
  }
}

.timer {
  color: red;
}

.right-content {
  padding-left: 25px;
  .date-div {
    margin-top: 25px;
    #start{
      margin-bottom: 5px;
      display: block;
    }
    #end{
      margin-bottom: 5px;
      display: block;
    }
  }
  .current-price-div {
    margin-top: 25px;
    .price {
      font-weight: bold;
    }
  }
  .buynow-price-div {
    margin-top: 25px;
    .price {
      font-weight: bold;
    }
  }

  .bid-info-container {
    margin-top: 25px;
    margin-bottom: 20px;
    .nobids {
      color: chocolate;
    }
    .winner {
      font-weight: bold;
    }
  }

  .auction-buttons-container {
    width: 100%;
    margin-top: 15px;
    button {
      @include app-btn;
      display: block;
      width: 100%;
      font-weight: bold;
      height: 35px;
      margin-bottom: 10px;
    }
    .buynow-btn {
      background-color: $secondaryLightColor;
      color: black;
      &:hover {
        color: white;
      }
    }
  }
}
