@import "global";
@import 'breakpoints';

.auction-container {
  padding: 20px;
  box-sizing: border-box;
  font-size: 16px;
  .left {
    width: 45%;
    height: 400px;
    float: left;
  }
  .right {
    float: left;
    width: 55%;
    height: 100%;
  }
  @include mobile {
    .left,
    .right {
      float: none;
      width: 100%;
    }
  }
  @include small{
    font-size: 12px;
  }
}

.description-text {
  padding-left: 20px;
  text-align: justify;
  overflow-wrap: break-word;
}

.tags-container{
  min-height: 50px;
  .tag-div{
    font-size: 12px;
    display: inline-block;
    margin: 5px 10px 5px 0;
    padding: 4px;
    background-color: aquamarine;
  }
}

.params-container {
  clear: both;
  padding-top: 20px;
  .params-block {
    background-color: #f7f7f7;
    padding: 5px 10px 5px 10px;
  }
}

.timer {
  color: red;
}

.right-content {
  padding-left: 25px;

  .prop-title {
    color: #767676;
    margin-right: 3px;
  }

  .info-container{
    margin-top: 14px;
    margin-bottom: 6px;
    span{
      display: block;
      margin-bottom: 10px;
      span{
        display: inline;
      }
    }
  }

  .bid-info-container {
    margin-top: 30px;
    margin-bottom: 20px;
    .nobids {
      color: chocolate;
    }
    .winner {
      color: #b5b55e;
    }
  }

  .buttons-container {
    margin-top: 15px;
    button {
      @include app-btn;
      display: block;
      width: 100%;
      font-weight: bold;
      height: 35px;
      margin-bottom: 10px;
    }
    .buynow-btn {
      background-color: $secondaryLightColor;
      color: black;
      &:hover {
        color: white;
      }
    }
  }
}

.params-block{
  .product-info{
    padding-left: 20px;
  }
  overflow-wrap: break-word;
}
