<div id="container">
  <div>
    <mat-form-field>
      <h4>Main category</h4>
      <mat-select (selectionChange)="selectMainCategory($event.value)">
        <mat-option selected></mat-option>
        <ng-container *ngFor="let cat of mainCategories">
          <mat-option [value]="cat.categoryName">{{cat.categoryName}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
  <div [appVisible]="selectedMainCategory == null">
    <mat-form-field>
      <h4>Sub category</h4>
      <mat-select (selectionChange)="selectSubCategory($event.value)">
        <mat-option selected></mat-option>
        <ng-container *ngFor="let cat of subCategories">
          <mat-option [value]="cat.categoryName">{{cat.categoryName}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
  <div [appVisible]="selectedSubCategory == null">
    <mat-form-field>
      <h4>Second sub category</h4>
      <mat-select (selectionChange)="selectSubCategory2($event.value)">
        <mat-option selected></mat-option>
        <ng-container *ngFor="let cat of subCategories2">
          <mat-option [value]="cat.categoryName">{{cat.categoryName}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
</div>
