@import 'global';

.app-container {
  @include desktop{
    min-height: calc(100vh - 70px - 71px);
  }
  .app-content {
    max-width: $maxContentWidth;
    width: 100%;
    min-height: calc(100vh - 70px - 71px);
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    overflow: hidden;
  }
}

.loading-div{
  position: absolute;
  width: calc(100vw - 18px);
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 10000;
  .spinner{
    margin: 0 auto;
  }
}
