<div class="container">
  <div class="content-block">
    <h2>Reset password</h2>
    <p>Please type your email</p>
    <form id="forgot-password-form" [formGroup]="form" (ngSubmit)="onFormSubmit()">

      <div class="field-container">
        <mat-form-field id="email-field">
          <input matInput type="email" placeholder="Email" formControlName="email" />
          <mat-error>
            <ng-container *ngIf="form.controls.email.errors">
              <span *ngIf="form.controls.email.errors.required">Email field cannot be empty</span>
              <span *ngIf="form.controls.email.errors.email">Invalid email address</span>
            </ng-container>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="field-container">
        <button mat-raised-button color="primary" type="submit">Send reset link</button>
      </div>
    </form>

  </div>
</div>
