@import "global";
@import 'breakpoints';

html,
body {
  height: 100%;
  background-color: #eceff1;
}
body {
  margin: 0;
  font-family: Open Sans, sans-serif;
  overflow-y: scroll;
  font-size: 16px;
}

@include mobile{
  body{
    font-size: 14px;
  }
}

.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: $secondaryColor;
}

hr {
  @include app-hr;
}

footer {
  background-color: #585858;
  height: 70px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #dcdcdc;
}

mat-error {
  span {
    display: block;
  }
}

.content-block-title{
  h2{
    color: #585858;
  }
  p{
    font-size: 14px;
  }
  text-align: center;
  margin-bottom: 40px;
}
