@import 'global';

html, body { height: 100%; background-color: #eceff1; }
body { margin: 0; font-family: Open Sans,sans-serif; overflow-y: scroll; }

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary{
  background-color: $secondaryColor;
}

hr{
  @include app-hr;
}

footer{
  background-color: #585858;
  height: 70px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

