<div>
  <input #searchBar type="text" placeholder="Search for anything" aria-label="Number" [matAutocomplete]="auto"
    (input)="onSearchBarKey(searchBar.value)">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option class="auction-link" [routerLink]="['auction']" [queryParams]="{auctionId: item.auctionId}" *ngFor="let item of auctions">
      {{item.auctionName}}
    </mat-option>
    <mat-option id="show-more-option" *ngIf="auctions.length" [routerLink]="['auctions']" [queryParams]="{'tag': tag}">
      {{total}} more like {{tag}}
    </mat-option>
  </mat-autocomplete>
  <div class="search-button-container">
    <button>SEARCH</button>
  </div>
</div>
