<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<!-- Parameters used by tests at runtime -->
	<TestRunParameters>
		<Parameter name="sqlserver" value="Data Source=sql_server;Initial Catalog=AuctionhouseDatabase;Integrated Security=False;User ID=sa;PWD=Qwerty1234;" />
		<Parameter name="sqlserver-authdb" value="Data Source=sql_server;Initial Catalog=AuthDataDatabase;Integrated Security=False;User ID=sa;PWD=Qwerty1234;" />
		<Parameter name="mongodb-connection-string" value="mongodb://mongodb:27017" />
		<Parameter name="rabbitmq-connection-string" value="host=rabbitmq" />
	</TestRunParameters>
</RunSettings>