<div class="navbar container">
  <a [routerLink]="['/home']" class="navbar-item navbar-item-icon">
    <img width="50" alt="Angular Logo"
      src="assets/icon.png" />
  </a>

  <a id="sell-btn" class="navbar-item" [routerLink]="['/auctions/create']">Sell</a>
  <div class="searchbar-container">
    <app-search-bar></app-search-bar>
  </div>
  <div class="navbar-group-left">
    <div *ngIf="isAuthenticated; else login">
      <div class="navbar-item" [matMenuTriggerFor]="menu">Menu</div>
      <mat-menu #menu="matMenu" class="user-menu">
        <div>
          <p>Hello {{username}}</p>
        </div>
        <div>
          <button class="user-menu-btn" [routerLink]="['/user']" mat-menu-item>My account</button>
        </div>
        <div>
          <button class="user-menu-btn" id="logout-btn" (click)="onLogout()" mat-menu-item>Logout</button>
        </div>

      </mat-menu>
    </div>
    <ng-template #login>
      <a class="navbar-item signin-btn" [routerLink]="['/sign-in']">Sign in</a>
    </ng-template>
  </div>
</div>
