@import "global";

.container {
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
  .container-center {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    height: 100%;
    .img-container{
      width: 100%;
      max-height: 100%;
      text-align: center;
    }
  }
}

.loading-bar{
  width: 70%;
  height: 4px;
  margin: 0 auto;
}

.btn-container {
  position: relative;
  z-index: 900;
  display: flex;
  justify-content: space-between;
  top: -50%;
  button {
    @include app-btn;
    height: 25px;
    position: relative;
    top: -12px;
    font-size: 0.8em;
  }
}

.img{
  width: 75%;
  height: 100%;
  max-height: 100%;
}
