<div class="container" >
  <div class="container-center" [style.height.px]="imgHeight">
    <div class="img-container">
      <img *ngFor="let imgInd of imgInd" class="img" [src]="imgs[imgInd]" [hidden]="imgInd != shown" [style.height.px]="imgHeight" />
    </div>
    <div class="btn-container" [style.top.px]="-(imgHeight / 2)">
      <button id="prev" (click)="onPrev()" [hidden]="imgInd.length == 1">Prev</button>
      <button id="next" (click)="onNext()" [hidden]="imgInd.length == 1">Next</button>
    </div>
  </div>
</div>
