@import 'page-content-block';

.container{
  width: 90%;
  .content-block{
    padding: 10px;
  }
}


#mainCat{
  text-align: left;
  display: block;
  margin: 0;
  padding: 10px;
}


.category-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .category-item{
    flex-grow: 1;
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 10px;
  }
}

.subcat-link{
  text-decoration: none;
  cursor: pointer;
  &:hover{
    color: $secondaryColor;
  }
}
.subcat2-link{
  text-decoration: none;
  cursor: pointer;
  &:hover{
    color: $secondaryColor;
  }
}
