<div class="container">
  <form class="form-grid" [formGroup]="form">
    <div class="g1">
      <mat-form-field id="product-name-field">
        Product name
        <input matInput type="text" formControlName="productName" (keyup)="onChange()" />
        <mat-error>
          <ng-container *ngIf="form.controls.productName.errors">
            <span *ngIf="form.controls.productName.errors.required">This field is required</span>
          </ng-container>
        </mat-error>
      </mat-form-field>

      <p>Condition</p>
      <mat-radio-group formControlName="condition" [selected]="used">
          <mat-radio-button #used [value]="0">Used</mat-radio-button>
          <mat-radio-button #new [value]="1">New</mat-radio-button>
        </mat-radio-group>

    </div>

    <div class="g2">
      <mat-form-field>
        Product description
        <textarea matInput formControlName="productDescription" (keyup)="onChange()"></textarea>
        <mat-error>
          <ng-container *ngIf="form.controls.productDescription.errors">
            <span *ngIf="form.controls.productDescription.errors.required">This field is required</span>
          </ng-container>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        Tags&nbsp;&nbsp;<span style="font-size: 10px" *ngIf="showTagsHelp">(enter tag names separated by space)</span>
        <input matInput type="text" formControlName="tags" [errorStateMatcher]="tagsErrorStateMatcher" (keyup)="onTagsChange() || onChange()" autocomplete="off"/>
        <mat-error>
          <ng-container *ngIf="form.controls.tags.errors">
            <span *ngIf="form.controls.tags.errors.required">This field is required</span>
            <span *ngIf="form.controls.tags.errors.tagsMaxLength">Tag name is too long</span>
          </ng-container>
        </mat-error>
      </mat-form-field>
      <div class="tags-container">
        <div class="tag-div" *ngFor="let tag of tags">
          <div>
              <i class="fas fa-tag" style="margin-right: 3px;"></i>{{tag}}
          </div>
        </div>
      </div>
    </div>



  </form>
</div>
