<div class="container">
  <form class="form-grid" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="g1">
      <mat-form-field>
        Product name
        <input matInput type="text" formControlName="productName" (change)="onChange()" />
      </mat-form-field>

      <mat-radio-group formControlName="buyNow">
        <mat-radio-button>Buy now</mat-radio-button>
      </mat-radio-group>


      <mat-form-field>
        Buy now price
        <input [disabled]="" type="number" matInput formControlName="buyNowPrice" (change)="onChange()" />
      </mat-form-field>

      <mat-form-field>
        Start date
        <input [matDatepicker]="picker1" matInput [(ngModel)]="defaultStartDate" formControlName="startDate"
          (change)="onChange()" />
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        End date
        <input [matDatepicker]="picker2" [(ngModel)]="defaultEndDate" matInput formControlName="endDate"
          (change)="onChange()" />
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

    </div>

    <div class="g2">
      <mat-form-field>
        Product description
        <textarea matInput formControlName="productDescription" (change)="onChange()"></textarea>
      </mat-form-field>
    </div>
  </form>
</div>
