@import 'page-content-block';
@import 'breakpoints';

.container{
  width: 70%;
  text-align: center;
  height: 50vh;
  .content-block{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    text-align: center;
  }
  @include mobile{
    width: 100%;
  }
}

.title{
  font-size: 20px;
  font-weight: bold;
}

.msg{
  font-size: 14px;
}
