@import 'global';


.container{
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  height: 50vh;
  #section{
    @include section-shadow;
    background-color: white;
    padding: 20px;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .msg{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
}
