version: '3.4'

services:
  envoy1:
    image: ${DOCKER_REGISTRY-}pekalam/auctionhouse-envoy1
    ports:
      - '10000:10000'
      - '9901:9901'
    build:
      context: ../../Envoy

  quartz_web_task_service:
    image: marekbf3/quartz-web-task-service
    ports:
      - '5001:80'
    environment:
      - "ClientKey=testk"
      - "ManagmentKey=testm"

  sql_server:
    image: ${DOCKER_REGISTRY-}pekalam/auctionhouse-sqlserver
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Qwerty1234
      - MSSQL_AGENT_ENABLED=True
    ports:
      - '1433:1433'
    volumes:
      - sqlserver_data:/var/opt/mssql

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - '5672:5672'
      - '15672:15672'

  zipkin:
    image: openzipkin/zipkin
    ports:
      - '9411:9411'

  seq:
    image: datalust/seq
    environment:
      - ACCEPT_EULA=y
    ports:
      - '8011:80'
      - '5341:5341'

  redis:
    image: redis
    ports:
      - '6379:6379'

volumes:
  sqlserver_data:


