@import "global";
@import "page-content-block";

.container {
  max-width: 700px;
  .content-block {
    padding: 20px;
  }
}

#sign-in-form {
  .field-container {
    padding-top: 19px;
    display: block;
    text-align: center;
  }
  #sign-in-button {
    cursor: pointer;
  }
}
.submit-button-container {
  display: block;
  text-align: center;
  #sign-up-button {
    margin-top: 30px;
  }
}

mat-error {
  span {
    display: block;
  }
}

::ng-deep mat-form-field{
  max-width: 70%;
  min-width: 206px;
}

#username-field {
  ::ng-deep .mat-form-field-infix {
    width: auto !important;
  }
}

#passowrd-field-container{
  position: relative;
}
