<div id="container">
  <div id="section">
    <form id="sign-in-form" [formGroup]="form" (ngSubmit)="onSignUpClick()">
      <div class="field-container">

          <mat-form-field id="username-field">
            <input matInput type="text" placeholder="Username" formControlName="username" (keyup)="onUsernameChange()" required />
            <mat-error>
              <ng-container *ngIf="form.controls.username.errors">
                <span *ngIf="form.controls.username.errors.required">Username cannot be empty</span>
                <span *ngIf="form.controls.username.errors.minlength">Too short username</span>
              </ng-container>
            </mat-error>
            <i class="fas fa-check" style="position: absolute; margin-left: 30px; color: green;" *ngIf="showOkUsername"></i>
            <i class="fas fa-times" style="position: absolute; margin-left: 30px; color: red;" *ngIf="showInvalidUsername"></i>
            <mat-spinner *ngIf="showLoading" style="position: absolute; margin-left: 30px; margin-left: 205px; bottom: 6px;" [diameter]="20"></mat-spinner>
          </mat-form-field>


      </div>
      <div class="field-container">
        <mat-form-field id="password">
          <input matInput type="password" placeholder="Password" formControlName="password" required />
          <mat-error>
            <ng-container *ngIf="form.controls.password.errors">
              <span *ngIf="form.controls.password.errors.required">Password cannot be empty</span>
              <span *ngIf="form.controls.username.errors.minlength">Too short password</span>
            </ng-container>
          </mat-error>
        </mat-form-field>

      </div>
      <div class="submit-button-container">
        <button mat-raised-button color="primary" id="sign-in-button" type="submit">Sign up</button>
      </div>
    </form>
  </div>
</div>
